body {
    margin: 0;
    padding: 0;
}
.wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main {
    width: 350px;
    height: 569px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    height: 36px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 6px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #6d44b8;
}

.login {
    width: 47%;
    height: 314px;
    margin: 121px auto;
    background: #eee;
    border-radius: 19% / 31%
}

.login label {
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked ~ .login {
    transform: translateY(-500px);
}

#chk:checked ~ .login label {
    transform: scale(1);
}

#chk:checked ~ .signup label {
    transform: scale(.6);
}

.ageInput {
    width: 38%;
    margin-left: 69px;
}

.gender {
    font-size: 1em;
    margin: -11px;
}
.check{
    height: 13px;
}
.divGender{
    display: flex;
}
.divchek{
    margin-right: 27px;
    width: 53px;
}
.divchek2{
    margin-right: 99px
}
.input-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error{
    color: #f44336;
}
.divlogin{
    width: 100%;
    display: flex;
    justify-content: end
}
.addUser{
    width: 9%;
  margin: unset;
    margin-right: 20px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background-color: black;
    cursor: pointer;
    transition: all 0.4s;
    margin-right: 22px;
    border-radius: 50%;
    margin-top: -4px;
}
.headerDiv{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.name{
    margin-right: 702px;
    margin-top: -4px;
}
.body{
    border:black solid 2px;
    width: 85%;
    height: 400px;
    margin: 20px auto;
}
.createDiv{
    display: flex;
}
.createProject{
    width: 14%;
    margin-top: 13px;
    margin-left: -9px;
}

.projectUp{
    width: 9%;
    height: 19px;
    margin: unset;
    margin-left: 10px;
    margin-top: 13px;;
}
.projectDell{
    width: 9%;
    height: 19px;
    margin: unset;
    margin-left: 10px;
    margin-top: 13px;;
}
.buttens{
    display: flex;
    margin-top: 10px;
}
.gg{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}
.divModal{
    margin-top: 236px;
}
.list{
    list-style-type: none;
}
.liList{
    font-size: 36px;
}
._link{
    text-decoration: none;
    color: black;
}
